{% extends "home.html" %}
{% block content %}
<div style="display: flex; ">
{% for product in products %}

<div class="card " style="width: 19rem;">
    <img src="{{product.image.url}}" class="card-img-top" alt="image" style="height: 300px; width: 300px;">
    <div class="card-body">
      <h5 class="card-title"><b>{{product.title}}</b></h5>
      <p class="card-text">{{product.price}}</p>
      <a href="{% url 'viewproduct' product.id %}" class="btn btn-primary">view</a>
    </div>
  </div>


{% endfor %}
</div>
{% endblock %}