/* home.html */
.navbar{
    background-color: rgb(166, 156, 156);
    display: flex;
    justify-content: space-between;
}
.list{ display: flex;
gap: 10px  ;
padding-right: 30px;

}
.inner-li{
    margin-top: 5px;
}

li{
    font-size: 20px ;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 700;
}
a:hover{
    color:white;
}

a{
    text-decoration: none;
    color: #000;
}
.heading{
margin-left: 30px;
font-family:'Times New Roman', Times, serif;
}
.foot{
    background-color: rgb(166, 156, 156);
    display: flex;
    justify-content: space-between;


}
.heading1{
    margin-left: 30px;
    }
.home-div-one{
    position: relative;
    background-color:aliceblue;
    width:100%;
    height: 100vh;
}
/* signin signup */
.home-div-one-one{
    position: absolute;
    background-color: rgb(185, 157, 157);
    width:450px;
    height: 300px;
    margin-top: 80px;
    text-align: center;
    margin-left: 450px;
    
}
.user{
    font-size: x-large;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* addproduct.html */
